

.form{
    width:500px;
    height:500px;
    border-radius:8px;
    margin:calc(50vh - 220px) auto;
    padding:80px 30px;max-width:calc(100vw - 40px);
    box-shadow: 3px 3px rgb(184, 184, 186), -1em 0 .4em rgb(184, 184, 186);
}

.buttons{
    text-align: center;
}
#d1{
    display: none;
    /* visibility: hidden; */
}
#togg1{
    margin-top: -15%;
    width:500px;
   margin-left: 33%;
    border-radius:8px;
    box-shadow: 3px 3px rgb(184, 184, 186), -1em 0 .4em rgb(184, 184, 186);
}
#search{
    margin-top: -5%;
    
    width:500px;
   margin-left: 33%;
    border-radius:8px;
    box-shadow: 3px 3px rgb(184, 184, 186), -1em 0 .4em rgb(184, 184, 186);
}

#table{
    /* margin-top: -88888888%; */
    width:600px;
    border-radius:8px;
    margin:calc(50vh - 220px) auto;
    padding:80px 30px;max-width:calc(100vw - 40px);
}